html,
body {
  height: 100%;
}

#root {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.responsive-img {
  max-width: 100%;
  display: block;
  height: auto;
}

.responsive-img-container img {
  max-width: 100%;
  display: block;
  height: auto;
}
