{% extends 'components/base.html' %}
{% load static %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/search.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'css/disease_detail-page.css' %}" />
{% endblock head %}

{% block body %}
  <div class="header">
    <div class="header__top">
      <a class="header__logo" href="{% url 'home-page' %}">
        <img class="responsive-img" src="{% static 'img/logo.svg' %}" />
      </a>
      <div id="search" class="search search--medium">
        {% include 'components/search-comp.html' %}
      </div>
      <div class="header__disease-name">{{ disease.name }}</div>
    </div>
    <div class="header__disease-description">
      {{ disease.introduction }}
    </div>
    <a class="back-link">‹ 返回</a>
  </div>

  <div class="detail">
    <div class="detail__title">症状表现</div>
    <p class="detail__symptom">{{ disease.symptom }}</p>
    <div class="detail__title">治疗方案</div>
    <ol>
      {% for medicine in disease.medicines %}
        <li>
          <p>{{ medicine.name }}</p>
          <p>成分：{{ medicine.composition }}</p>
          <p>功效：{{ medicine.effect }}</p>
        </li>
      {% endfor %}
    </ol>
  </div>

  <script src="{% static 'js/search.js' %}"></script>
{% endblock body %}
