<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <h1>中医食疗推荐系统</h1>
    <form action="" method="post">
        {% csrf_token %}
        请输入您的症状：
        <input id="content" type="text" name="content" value="{{ content}}">
        <input type="submit" value="提交">
    </form>
    <h2>大家都在搜...</h2>
    {% for disease in res %}
    <div>
        <h3><a href="/api/diseases/{{disease.id}}" >{{disease.name}}</a></h3>
        <h4>简介：{{disease.introduction}}</h4>
    </div>
    {% endfor %}
</body>
</html>