{% extends 'components/base.html' %}
{% load static %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/search.css' %}" />
  <link type="text/css" rel="stylesheet" href="{% static 'css/index-page.css' %}" />
{% endblock head %}

{% block body %}
  <div id="root">
    <div id="page-title" class="responsive-img-container">
      <div class="title-part img-wrapper">
        <img src="{% static 'img/title-part1.svg' %}" alt="中成药"/>
      </div>
      <div class="logo img-wrapper">
        <img src="{% static 'img/logo.svg' %}" />
      </div>
      <div class="title-part img-wrapper">
        <img src="{% static 'img/title-part2.svg' %}" alt="搜索库"/>
      </div>
    </div>

    <div id="search" class="search search--large search--show-note">
      {% include 'components/search-comp.html' %}
    </div>

    <div class="hot-words">
      <div class="hot-words__title">大家都在搜...</div>
      <ul class="hot-words__list">
      {% for disease in res %}
      <li class="hot-words__word-card">
        <a class="hot-words__link" href="{% url 'disease-detail' disease.id %}" >
          <div class="hot-words__word">
            {{ disease.name }}
          </div>
          <div class="hot-words__explain">{{disease.introduction}}</div>
        </a>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <script src="{% static 'js/search.js' %}"></script>
{% endblock body %}
